In [8]:
import numpy as np
print(np.__version__)

1.14.2

In [9]:
thai_id = '110123456789'

In [10]:
list(thai_id[:12])

['1', '1', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [14]:
a = np.array(list(thai_id[:12]), dtype = int)
a

array([1, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [16]:
b = np.arange(13, 1, -1)
b

array([13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2])

In [17]:
x = np.sum(a * b) % 11
x

4

In [18]:
1 - x if x <= 1 else 11 - x

7

In [19]:
np.sum(a * b) + 7

242

In [20]:
242 % 11

0

In [21]:
def thai_id_check_digit(thai_id):
    a = np.array(list(thai_id[:12]), dtype = int)
    b = np.arange(13, 1, -1)
    x = np.sum(a * b) % 11
    return 1 - x if x <= 1 else 11 - x

In [22]:
thai_id_check_digit('140990059369')

8